@import '../variables';

body.admin-bar{
    .siteHeader{
        top: 32px;
    }
}
.siteHeader{
    width: 100%;
    height: 107px;
    background-color: $blue-light-color;
    z-index: 100;
    position: fixed;
    top: 0;
    margin-top: 35px;
    transition: background ease .3s;

    &--frontPage{
        height: 100px;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,0.7) -20%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.7) -20%, rgba(255,255,255,0) 100%);
        background: linear-gradient(180deg, rgba(0,0,0,0.7) -20%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

        .siteHeader__logo{
            .wrap{
                overflow: hidden;
                position: relative;
                transition: ease .3s;

                &:after{
                    content: '';
                    width: 100%;
                    height: 200px;
                    position: absolute;
                    top: 0;
                    background-color: $red-color;
                    z-index: -1;
                    transition: ease .5s;
                }

                &--transparent {
                    background-color: transparent;
                }
            }
        }
        svg{
            opacity: 0;
            pointer-events: none;
            transition: ease .3s;
        }
    }
    &--float{
        background: $blue-light-color;

        .siteHeader__logo{
            .wrap{
                &:after{
                    height: 0;
                }
            }
        }
        svg{
            opacity: 1;
            pointer-events: all;
            position: relative;
            top: -20px;
            z-index: 2;
        }
    }

    &__freedelivery{
        margin: 0;
        position: absolute;
        top: -35px;
        height: 35px;
        background: $blue-light-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p{
            margin: 0;
            text-align: center;
            color: #fff;
            font-weight: 700;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            span{
                font-weight: 700;
                padding-left: 5px;
            }
        }
    }

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        position: relative;
        z-index: 3;
    }
    &__menu{
        width: calc(50% - 60px);

        ul{
            li{
                padding-right: 20px;

                &:last-of-type{
                    padding-right: 0;
                }

                a{
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFF;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: ease .3s;

                    &:hover{
                        opacity: .7;
                    }
                }
                &.current-menu-item{
                    a{
                        font-weight: 800;
                    }
                }

                .sub-menu{
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0 0;
                    min-width: 100%;
                    box-shadow: none;

                    li{
                        background-color: $red-color;
                        padding: 10px 10px 5px;
                        
                        &:last-of-type{
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    &__logo{
        width: 120px;
        height: 100%;
        

        .wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            width: 100%;
            height: 100%;
            outline: none;

            img{
                max-width: 85px;
                transition: ease .3s;
            }
        }
        &:hover{
            .wrap{
                img{
                    opacity: .8;
                }
            }
        }
    }
    &__actions{
        width: calc(50% - 60px);
        text-align: right;

        .wrap{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
        }

        a{
            cursor: pointer;
            margin-left: 22px;
            position: relative;
            transition: ease .3s;

            &.notallowed{
                pointer-events: none;
            }
            &:hover{
                img{
                    opacity: .7;
                }
                .actionsTooltip{
                    opacity: 1;
                }
            }

            img{
                transition: ease .3s;
            }

            .actionsTooltip{
                padding: 0 15px;
                position: absolute;
                bottom: -50px;
                right: 0;
                background-color: $red-color;
                opacity: 0;
                pointer-events: none;
                transition: ease .3s;

                &:after{
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #EC422B;
                    border-left: 7px solid transparent;
                    top: -13px;
                    right: 7px;
                    position: absolute;
                }

                p{
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: 800;
                    color: #fff;
                    text-transform: uppercase;
                    white-space: nowrap;
                    margin: 0;
                }
            }
        }

        .language{
            margin: 4px 0 0 20px;

            .lang_sel_list_vertical{
                background: unset;
                border: 0;

                li{
                    a{
                        padding: 0;
                        margin: 0;
                        background: unset;
                        width: 22px;
                        height: 22px;
                        border: 0;
                        border-radius: 100%;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
    svg{
        position: relative;
        top: -20px;
        z-index: 2;
    }
}
.headerClone{
    width: 100%;
    position: relative;
    height: 107px;
    margin-bottom: 70px;
}
@media (max-width: 991px){
    .siteHeader{
        height: 77px;
        margin-top: 30px;

        &--frontPage{
            height: 70px;

            .siteHeader__logo{
                width: 80px;

                .wrap{
                    img{
                        max-width: 55px;
                    }
                }
            }
        }

        &__freedelivery{
            top: -30px;
            height: 30px;

            p{
                font-size: 14px;
            }
        }
        &__menu{
            ul{
                li{
                    padding-right: 15px;

                    a{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        &__actions{
            a{
                margin-left: 18px;

                img{
                    max-width: 18px;
                }
            }
            .language{
                margin: 4px 0 0 15px;
            }
        }
        svg{
            width: 2800px;
        }
    }
}
@media (max-width: 767px){
    body.admin-bar{
        .siteHeader{
            &--frontPage{
                top: 46px;
            }
        }
    }
    .siteHeader{
        height: 70px;
        margin-bottom: 30px;

        &--frontPage{
            height: 70px;
        }

        &__menu{
            display: none;
        }
        &__logo{
            width: 60px;

            .wrap{
                img{
                    width: 100%;
                }
            }
        }
        &__actions{
            display: flex;
            justify-content: flex-end;
            width: calc(100% - 60px);

            .menu-toggle{
                width: 30px;
                margin-left: 15px;
                padding: 0px;
                background: transparent;
                border: 0;
                outline: none;

                &:focus{
                    border: 0;
                }

                img{
                    max-width: 20px;
                }
            }
        }
    }
    .headerClone{
        margin-bottom: 40px;
    }
}
@media (max-width: 575px){
    .siteHeader{
        &--frontPage{
            .siteHeader__wrap{
                padding: 0 20px 0 0;
            }
        }
        &__wrap{
            padding: 0 20px 0 10px;
        }
    }
}

/* ---- Mini cart ---- */

.miniCart{
    position: absolute;
    top: 40px;
    right: -10px;
    background-color: #fff;
    border: 1px solid $pink-color;
    transition: ease .3s;
    opacity: 0;
    pointer-events: none;

    // &--ready{
    //     opacity: 0;
    //     pointer-events: none;
    // }
    // &--active{
    //     opacity: 1;
    //     pointer-events: all;
    // }

    &:before{
        content: '';
        width: 12px;
        height: 12px;
        background-color: $pink-color;
        position: absolute;
        top: -6px;
        right: 14px;
        transform: rotate(45deg) skew(10deg, 10deg);
    }

    &__heading{
        background-color: $pink-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 50px;

        h2{
            font-size: 14px;
            line-height: 19px;
            font-weight: 800;
            text-transform: uppercase;
            color: $red-color;
            margin: 0;
        }
        .closeMiniCart{
            width: 16px;
            transform: rotate(45deg);
            cursor: pointer;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
    &__list{
        list-style: none;
        padding: 0 23px;
        margin: 0;

        .mini_cart_item{
            display: flex;
            justify-content: space-between;
            min-width: 320px;
            padding: 20px 0;
            border-bottom: 1px solid #BDBDBD;

            &:last-of-type{
                border: 0;
            }

            a{
                display: flex;
                align-items: center;
                margin: 0;

                .thumb{
                    width: 62px;
                    height: 62px;
                    margin-right: 10px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info{
                    text-transform: uppercase;

                    &__name{
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 600;
                        color: $primary-text-color;
                        margin: 0;
                        text-align: left;
                    }
                    &__content{
                        display: flex;
                        flex-wrap: wrap;

                        p{
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 300;
                            color: $primary-text-color;
                            margin: 0 5px 0 0;

                            &:last-of-type{
                                margin: 0;
                            }

                            span{
                                display: inline-block;
                                width: 11px;
                                height: 11px;
                                border-radius: 100%;
                                margin-left: 2px;
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                    &__qty{
                        p{
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 300;
                            color: $primary-text-color;
                            margin: 0;
                            text-align: left;
                        }
                    }
                }
            }
            .summary{
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__price{
                    margin-right: 10px;

                    p{
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 800;
                        text-transform: uppercase;
                        color: $primary-text-color;
                    }
                }
                .remove{
                    img{
                        width: 15px;
                    }
                }
            }
            .blockOverlay{
                background-color: #fff !important;
            }
        }
    }
    &__total{
        .wave{
            width: calc(100% - 40px);
            height: 10px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;

            img{
                width: 800px;
                max-width: none;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;

            strong{
                font-size: 12px;
                line-height: 16px;
                font-weight: 300;
                text-transform: uppercase;
                color: $primary-text-color;
            }
            span{
                font-size: 12px;
                line-height: 16px;
                font-weight: 800;
                text-transform: uppercase;
                color: $primary-text-color;
            }
        }
    }
    .woocommerce-mini-cart__empty-message{
        padding: 20px;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .btn{
        display: block;
        max-width: fit-content;
        margin: 0 auto 20px;
    }
}
.openMiniCart{
    &__count{
        position: absolute;
        right: 0;
        left: -6px;
        bottom: -7px;
        z-index: 4;

        p{
            width: 14px;
            height: 14px;
            background: $red-color;
            border-radius: 100%;
            margin: 0;
            font-size: 10px;
            text-align: center;
            line-height: 14px;
            color: #fff;
            font-weight: 800;
        }
    }
}

/* ---- Search bar ---- */

.searchModal{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 230px;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 99;
    background-color: $blue-light-color;
    transition: ease 1s;

    &--active{
        top: 0;
    }

    form{
        display: flex;
        align-items: center;
        max-width: fit-content;
        margin: 0 auto 50px;
        opacity: 0;
        transition: ease .3s;

        &.active{
            opacity: 1;
        }

        img{
            margin-right: 20px;
            width: 32px;
        }
        input[type="text"]{
            display: block;
            height: 54px;
            width: 442px;
            margin-right: 20px;
            border-radius: 5px;
            font-size: 15px;
            color: $primary-text-color;
            border: 0;
            outline: none;
            padding: 0 20px;
        }
        input[type="submit"]{
            height: 26px;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            background-color: $red-color;
            border-radius: 0;
            border: 0;
            cursor: pointer;
            transition: ease .3s;

            &.notallowed{
                cursor: not-allowed;
            }

            &:hover{
                background-color: #f35a45;
            }
        }
    }

    svg{
        position: absolute;
        bottom: -10px;
    }
}
@media (max-width: 991px){
    .searchModal{
        height: 200px;

        form{
            margin: 0 auto 23px;
        }
    }
}
@media (max-width: 767px){
    .searchModal{
        flex-direction: column;
        justify-content: flex-end;

        svg{
            bottom: -20px;
            width: 2500px;
        }

        form{
            flex-direction: column;

            img{
                display: none;
            }
            input[type="text"]{
                width: 327px;
                margin: 0 0 15px;
            }
            input[type="submit"]{
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 340px){
    .searchModal{
        form{
            input[type="text"]{
                width: 280px;
            }
        }
    }
}

/* ---- Mobile menu ---- */ 

.mobileMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    position: fixed;
    right: -330px;
    top: 0;
    width: 100%;
    max-width: 330px;
    z-index: 100;
    background: $red-color;
    height: 100vh;
    transition: ease .8s;

    &--active{
        right: 0;
    }

    &__close{
        position: absolute;
        left: 15px;
        top: 15px;

        img{
            filter: brightness(15);
            width: 25px;
        }
    }

    &__wrap{
        padding: 50px 20px 30px;

    }
    &__actionbtn{
        width: 100%;
        padding: 14px 20px;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;

        a{
            display: flex;
            justify-content: space-between;

            span{
                font-size: 16px;
                line-height: 22px;
                font-weight: 800;
                color: #fff;
                margin: 0;
                text-transform: uppercase;
            }
        }
    }
    &__position{
        &--active{
            .header{
                img{
                    &.rotate{
                        transform: rotate(45deg) !important;
                    }
                }
            }
        }
        .header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 14px 20px;
            border-bottom: 1px solid #fff;
            max-height: 50px;

            .name{
                font-size: 16px;
                line-height: 22px;
                font-weight: 800;
                color: #fff;
                margin: 0;
                text-transform: uppercase;
            }
            img{
                max-width: 20px;
                transition: ease .3s;

                &.rotate{
                    filter: brightness(15);
                }
            }
        }
        ul{
            display: none;
            padding: 5px 0;
            margin: 0;
            list-style: none;
            border-bottom: 1px solid #fff;
            
            li{
                padding: 15px 20px;

                a{
                    display: flex;
                    align-items: center;

                    img{
                        filter: brightness(15);
                        width: 30px;
                        max-height: 25px;
                        margin-right: 10px;
                    }
                    .name{
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
    &__footer{
        width: 100%;
        background-color: $red-color;

        .wave{
            width: 100%;
            position: relative;
            height: 6px;

            img{
                position: absolute;
                width: 500px;
                height: auto;
                top: 0;
                left: 0;
            }
        }
        .content{
            padding: 20px 25px;

            p{
                font-size: 16px;
                line-height: 22px;
                font-weight: 800;
                color: #fff;
                margin: 0 0 10px;
            }
            &__wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .social{
                    display: flex;
                    align-items: center;
                    p{
                        font-size: 14px;
                        font-weight: normal;
                        margin: 0;
                    }
                    img{
                        margin-right: 5px;
                        max-width: 20px;
                    }
                }
            }
        }
    }
}

/* ---- Cart header ---- */

body[thankyoupage="true"]{
    .cartHeader{
        display: none;
    }
}

.cartHeader{
    background-color: $pink-color;
    position: relative;
    height: 88px;
    margin-bottom: 70px;

    &__wrap{
        display: flex;
        align-items: center;
        height: calc(100% - 25px);
        position: relative;
        top: 15px;
        z-index: 3;

        h1{
            font-size: 30px;
            line-height: 41px;
            font-weight: 800;
            text-transform: uppercase;
            color: $red-color;
            margin: 0;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        max-width: fit-content;
        margin: 0 auto;
        transition: ease .3s;

        &:hover{
            opacity: .7;
        }

        img{
            height: 100%;
        }
    }
    svg{
        position: relative;
        bottom: -5px;
        z-index: 2;
    }
}
@media (max-width: 991px){
    .cartHeader{
        height: 70px;
        margin-bottom: 60px;

        &__wrap{
            justify-content: flex-end;

            h1{
                font-size: 20px;
                line-height: 27px;
            }
        }
        &__logo{
            left: 12px;
            right: auto;
        }
    }
}