.sizeModal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: ease .3s;

    &--ready{
        opacity: 1;
        pointer-events: all;
    }
    &--active{
        .sizeModal__wrap{
            opacity: 1;
            pointer-events: all;
        }
    }

    &__wrap{
        max-width: 750px;
        width: 100%;
        min-height: 100px;
        background-color: #fff;
        opacity: 0;
        margin-top: 100px;
        pointer-events: none;
        transition: ease .3s;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 50px;
        background-color: $pink-color;
        position: relative;
        margin: 0 0 10px;

        h2{
            font-size: 14px;
            line-height: 19px;
            font-weight: 800;
            color: $red-color;
            text-transform: uppercase;
            margin: 0;
        }
        .closeModal{
            transform: rotate(45deg);
            width: 15px;
            cursor: pointer;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
        .wave{
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 30px;
            overflow: hidden;

            svg{
                width: 2500px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    &__content{
        .wrap{
            padding: 20px 20px 10px;
            max-height: 60vh;
            overflow-x: scroll;

            .productSizeTable{
                display: flex;
                align-items: flex-start;
                
                .productInfo{
                    max-width: 170px;

                    &__heading{
                        margin: 0 0 11px;
                        background: #f5f5f5;
                        padding: 10px 5px;

                        p{
                            font-size: 12px;
                            color: #000;
                            text-align: center;
                            text-transform: uppercase;
                            margin: 0;
                        }
                    }
                    &__content{
                        text-align: center;

                        p{
                            font-size: 12px;
                            color: #000;
                            text-align: center;
                            text-transform: uppercase;
                            margin: 0;
                            padding: 10px;
                        }
                        img{
                            max-width: calc(100% - 10px);
                            padding-bottom: 5px;
                        }
                    }
                }

                table{
                    margin: 0 0 10px;
        
                    &:last-of-type{
                        margin: 0;
                    }
        
                    thead{
                        border-bottom: 10px solid #fff;
                        
                        tr{
                            th{
                                background-color: #f5f5f5;
                                border: 1px solid #fff;
                                text-align: center;
                                padding: 10px 5px;
                                font-size: 12px;
                                line-height: 16px;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }
                    tbody{
                        tr{
                            &:first-of-type{
                                td{
                                    &:not([rowspan]){
                                        display: none;
                                    }
                                }
                            }
                            td{
                                background-color: #f5f5f5;
                                border: 1px solid #fff;
                                text-align: center;
                                padding: 10px 5px;
                                font-size: 12px;
                                line-height: 16px;
                                text-transform: uppercase;
                                font-weight: 400;
                                border-bottom: 10px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    &__image{
        img{
            max-width: calc(100% - 20px);
            width: 300px;
            margin: 0 auto;
            display: block;
        }
    }
}
@media (max-width: 767px){
    .sizeModal{
        padding: 20px;

        &__wrap{
            max-width: 600px;
        }
        &__content{
            overflow: scroll;
            max-height: 100vh;

            .wrap{
                width: 800px;
            }
        }
    }
}

.openSizeModal{
    cursor: pointer;
    transition: ease .3s;

    &:hover{
        opacity: .7;
    }
}