.section {
    &--contact {
        position: relative;
        padding-top: 50px;
        padding-bottom: 70px;

        @media (max-width: 767px){
            padding-top: 0;
            padding-bottom: 30px;
        }
    }
}

.contactContent {
    display: flex;
    position: relative;
    @media (max-width: 767px){
        flex-direction: column;
        align-items: center;
    }

    &__imageWrapper {
        width: 50%;
        @media (max-width: 767px){
            position: relative;
            width: 100%;
            max-width: 268px;
        }
    }

    &__image {
        width: 100%;
    }

    &__headingWrapper{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 767px){
            top: 100%;
        }
    }

    &__detailsList {
        margin: 0;
        list-style: none;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (max-width: 767px){
            margin-top: 50px;
            padding: 0;
            text-align: center;
            align-items: center;
        }
    }

    &__subheadingWrapper {
        display: flex;
        align-items: center;
        margin: 5px 0 20px 0;

        @media (max-width: 767px){
            justify-content: center;
        }
    }

    &__subheading {
        font-size: 16px;
        font-weight: 800;
        color: $primary-text-color;
        text-transform: uppercase;
        margin: 5px 0 0 15px;
    }

}

.planeDrawing {
    &--contact {
        top: 90px;
        right: -30px;

        @media (max-width: 991px){
            display: none;
        }
    }
}