.section {
    &--regulamin {
        position: relative;
        text-align: justify;

        p {
            margin: 15px 0;
            text-align: justify;
            font-size: 14px;
        }
    }
}

.regulamin {
    &__content {
        max-width: 674px;
        margin: 30px auto;

        ul,
        ol{
            margin-left: 0;

            li{
                text-align: left;
                font-size: 14px;
                color: $primary-text-color;
            }
        }
        h4 {
            font-size: 16px;
            font-weight: 800;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 25px 0;
        }
    }
}
.forms{
    list-style: none;
    margin: 20px auto;
    padding: 0;
    max-width: 674px;

    li{
        a{
            color: $red-color;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
}
