body.woocommerce-cart{
    #masthead{
        display: none;
    }
}
body[thankyoupage="true"]{
    #masthead{
        display: block !important;
    }
    .cartProgress{
        display: none;
    }
}
.cartProgress{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto 70px;

    &__step{
        display: flex;
        align-items: center;
        filter: grayscale(1);

        .icon{
            width: 40px;
            height: 40px;
            margin-right: 20px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: brightness(2.3);
                transition: ease .3s;
            }
        }
        .name{
            width: calc(100% - 60px);

            p{
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: #BDBDBD;
                margin: 0;
                text-transform: uppercase;
                transition: ease .3s;
            }
        }
        &--active{
            filter: grayscale(0);
    
            .icon{
                img{
                    filter: brightness(1) !important;
                }
            }
            .name{
                p{
                    font-weight: 800;
                    color: $red-color;
                }
            }
        }
    }
    &__arrow{
        display: flex;
        align-items: center;
        width: 28px;
        margin: 0 20px;
        transition: ease .3s;

        img{
            width: 100%;
            object-fit: contain;
            filter: grayscale(1) brightness(1.8);
            transition: ease .3s;
        }
        &--active{
            img{
                filter: grayscale(0) brightness(1);
            }
        }
    }
}
@media (max-width: 1199px){
    .cartProgress{
        max-width: 870px;
        margin: 0 auto 35px;

        &__step{
            .icon{
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }
            .name{
                width: calc(100% - 45px);

                p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .cartProgress{
        max-width: 600px;
        margin: 0 auto 20px;
        padding: 0 15px;

        &__step{
            flex-direction: column;

            .icon{
                width: 100%;
                margin: 0 auto 10px;
            }
            .name{
                width: 100%;
                text-align: center;
            }
        }
    }
}
@media (max-width: 767px){
    .cartProgress{
        margin: 0 auto 10px;

        &__step{
            .icon{
                height: 20px;
            }
            .name{
                p{
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
        &__arrow{
            width: 20px;
            margin: 0 10px;
        }
    }
}

.loloCart{
    &__wave{
        margin: 30px auto;
    }
    .cartItem{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &__title{
            font-size: 14px;
            line-height: 19px;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 0 20px 0 0;
        }

        .dropdownInput{
            position: relative;
            cursor: pointer;

            &__select{
                display: flex;
                align-items: center;
                height: 39px;
                border: 2px dashed #FFCAD4;
                padding: 0 40px 0 10px;

                &:after{
                    content: '';
                    background-image: url('/wp-content/themes/lolobaby/images/icons/dropdown_arrow_ico.svg');
                    background-repeat: no-repeat;
                    background-size: 17px;
                    width: 17px;
                    height: 9px;
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    z-index: 2;
                    cursor: pointer;
                }

                p{
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 800;
                    color: $primary-text-color;
                    margin: 0;
                }
            }
            &__dropdown{
                position: absolute;
                top: calc(100% + 12px);
                max-width: 100%;
                width: 100%;
                background-color: #fff;
                padding: 5px 0;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);

                span{
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    padding: 2px 10px;
                    cursor: pointer;
                    transition: ease .3s;

                    &:hover{
                        background-color: #f5f5f5;
                    }
                }
            }
        }

        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 450px;

            .cartItem__remove{
                display: none;
            }
        }
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 450px);
        }
        &__thumb{
            width: 150px;
            height: 150px;
            margin-right: 30px;

            a{
                display: block;
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__name{
            width: calc(100% - 180px);

            h3{
                max-width: 180px;
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                color: $primary-text-color;
                text-transform: uppercase;
                margin: 0;
            }
        }
        &__color{
            display: flex;
            align-items: center;

            span{
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }
        }
        &__size{
            display: flex;
            align-items: center;
        }
        &__quantity{
            display: flex;
            align-items: center;
        }
        &__subtotal{
            &>span{
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0;
            }
        }
        &__remove{
            a{
                display: flex;

                img{
                    width: 20px;
                    transition: ease .3s;
                }

                &:hover{
                    img{
                        opacity: .7;
                    }
                }
            }
        }
    }

    /* After cart item list */ 

    &__bottom{
        display: flex;
    }
    &__delivery{
        width: calc(50% - 135px);
        margin-right: 135px;

        &>h2{
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 0 20px;
            color: $primary-text-color;
        }

        .deliveryList{
            &__option{
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-bottom: 20px;

                &:last-of-type{
                    margin-bottom: 0;
                }

                &--checked{
                    .name{
                        &:after{
                            opacity: 1 !important;
                        }
                    }
                }

                &[methodid="id_1"],
                &[methodid="id_2"],
                &[methodid="id_7"],
                &[methodid="id_6"]{
                    .name{
                        label{
                            &:after{
                                content: '';
                                background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_inpost_logo.svg');
                                background-repeat: no-repeat;
                                background-size: 100% 20px;
                                width: 60px;
                                height: 20px;
                                position: absolute;
                                right: -60px;
                                top: 0;
                                display: block;
                            }
                        }
                    }
                }
                
                &[methodid="id_5"],
                &[methodid="id_4"],
                &[methodid="id_3"]{
                    .name{
                        label{
                            &:after{
                                content: '';
                                background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_dpd_logo.svg');
                                background-repeat: no-repeat;
                                background-size: 100% 20px;
                                width: 60px;
                                height: 20px;
                                position: absolute;
                                right: -60px;
                                top: 0;
                                display: block;
                            }
                        }
                    }
                }

                .name{
                    padding-left: 25px;

                    &:before{
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: #ddd;
                        border-radius: 100%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                    &:after{
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: $red-color;
                        border-radius: 100%;
                        position: absolute;
                        left: 2px;
                        top: 50%;
                        transform: translate(0, -50%);
                        opacity: 0;
                        transition: ease .3s;
                    }
                    input{
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        top: 4px;
                        opacity: 0;
                        z-index: 3;
                        cursor: pointer;
                    }
                    label{
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 300;
                        color: $primary-text-color;
                        margin: 0;
                        position: relative;
                        cursor: pointer;
                        user-select: none;
                    }
                }
                .amount{
                    span{
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 800;
                        text-transform: uppercase;
                        color: $primary-text-color;
                        margin: 0;
                    }
                }
            }
        }
    }
    &__summary{
        width: 50%;

        .cartTotals{
            &__title{
                p{
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $primary-text-color;
                    margin: 0;
                }
            }
            &__value{
                p,
                span{
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: $primary-text-color;
                    margin: 0;

                    strong{
                        font-weight: 800;
                    }
                }
            }
            &__sum{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 20px;
            }
            &__coupon{
                .couponInput{
                    display: flex;
                    align-items: center;
                    margin: 0 0 20px;
                    
                    &__input{
                        background-color: #fff;
                        border: 2px solid $pink-color;
                        border-radius: 0;
                        max-width: 392px;
                        width: 100%;
                        height: 42px;
                        margin-right: 30px;
                        text-align: center;
                        font-size: 15px;
                        color: $primary-text-color;
                        outline: none;
                    }
                    &__submit{
                        margin-left: 30px;
                        font-size: 15px;
                        line-height: 20px;
                        color: $red-color;
                        margin: 0;
                        text-decoration: underline;
                        cursor: pointer;
                        transition: ease .3s;

                        &:hover{
                            opacity: .7;
                        }
                    }
                }
                .couponList{
                    &__coupon{
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 20px;

                        .amount{
                            p{
                                a{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &__delivery{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__free{
                p{
                    font-size: 16px;
                    line-height: 22px;
                    color: $primary-text-color;
                    margin: 0;
                }
            }
            &__total{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0 0;
                padding: 15px 0 0;
                border-top: 1px solid #BDBDBD;
            }
        }
    }
    &__afterCart{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto;

        .continue{
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: underline !important;
            color: $blue-color;
            margin: 0;
            transition: ease .3s;
            
            &:hover{
                opacity: .7;
            }
        }
    }
}
@media (max-width: 1199px){
    .loloCart{
        .cartItem{
            &__top{
                width: 380px;
            }
            &__bottom{
                width: calc(100% - 380px);
            }
        }
    }
}
@media (max-width: 991px){
    .loloCart{
        .cartItem{
            flex-direction: column;
            border-top: 1px solid #BDBDBD;
            margin-top: 20px;
            padding-top: 20px;

            &:first-of-type{
                margin-top: 0;
                padding-top: 0;
                border-top: 0;
            }

            &__top{
                width: 100%;
                justify-content: flex-start;
                margin: 0 0 15px;

                .cartItem__remove{
                    display: block !important;
                }
            }
            &__thumb{
                width: 100px;
                height: 100px;
                margin-right: 20px;
            }
            &__name{
                width: calc(100% - 100px);
            }
            &__bottom{
                width: 100%;

                .cartItem__remove{
                    display: none;
                }
            }
        }
        &__bottom{
            flex-direction: column;
        }
        &__delivery{
            width: 100%;
            margin: 0 0 50px;
        }
        &__summary{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    .loloCart{
        &__wave{
            width: 100%;
            max-width: none;
            height: 10px;
            position: relative;

            img{
                width: 800px;
                max-width: none;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .cartItem{
            &__thumb{
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            &__name{
                width: calc(100% - 50px);

                h3{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            &__title{
                font-size: 12px;
                line-height: 16px;
                margin: 0 10px 0 0;
            }
            &__color{
                span{
                    width: 10px;
                    height: 10px;
                }
            }
            .dropdownInput{
                &__select{
                    height: 35px;
                    padding: 0 26px 0 10px;

                    &:after{
                        background-size: 11px;
                        width: 11px;
                        height: 6px;
                        top: 17px;
                        right: 8px;
                    }
                }
            }
            &__subtotal{
                &>span{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        &__delivery{
            .deliveryList{
                &__option{
                    .amount{
                        span{
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        &__summary{
            .cartTotals{
                &__value{
                    span,
                    p{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                &__coupon,
                &__delivery,
                &__total{
                    .cartTotals__title{
                        p{
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        &__afterCart{
            flex-direction: column-reverse;
            margin: 30px 0 20px;

            .tocheckout{
                margin-bottom: 15px;
            }
        }
    }
}