body.woocommerce-checkout{
    #masthead{
        display: none;
    }
}
body[thankyoupage="true"]{
    #masthead{
        display: block !important;
    }
}

.checkoutUser{
    display: none;
    padding: 0 15px 50px;
    transition: ease .3s;

    &--ready{
        display: flex;
    }
    &--visible{
        opacity: 1;
    }

    &__login{
        width: calc(100% / 2);
    }
    &__options{
        width: calc(100% / 2);

        .wave{
            overflow: hidden;
            max-width: 400px;
            margin: 35px auto;

            img{
                width: 1000px;
                max-width: none;
            }
        }
    }
    &__change{
        .changeBox{
            display: none;
            text-align: center;

            &--ready{
                display: block;
            }

            h2{
                font-size: 30px;
                line-height: 41px;
                font-weight: 800;
                color: $primary-text-color;
                text-align: center;
                margin: 0 0 20px;
                text-transform: uppercase;
            }
            p{
                font-size: 16px;
                line-height: 22px;
                color: $primary-text-color;
                text-align: center;
                margin: 0 0 20px;
            }
            .btn{
                margin: 0;
            }
        }
    }
    &__guest{
        text-align: center;

        h2{
            font-size: 30px;
            line-height: 41px;
            font-weight: 800;
            color: $primary-text-color;
            text-align: center;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        .btn{
            margin: 0;
        }
    }
}
@media (max-width: 991px){
    .checkoutUser{
        flex-direction: column;

        &__login{
            width: 100%;
        }
        &__options{
            width: 100%;

            .btn{
                span{
                    font-size: 13px !important
                }
            }
        }
    }
}

.checkoutLogin{
    display: none;
    opacity: 0;
    padding: 0 20px;
    transition: ease .3s;

    &--ready{
        display: block;
    }
    &--visible{
        opacity: 1;
    }

    .woocommerce-notices-wrapper{
        display: none !important;
    }

    &__title{
        font-size: 30px;
        line-height: 41px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 30px;
        text-align: center;
    }

    .notices{
        max-width: 440px;
        margin: 0 auto;

        .woocommerce-error{
            margin: 0;
            padding: 0;
            list-style: none;  
            background-color: unset;

            li{
                background-color: #e2401c;
                background: #e2401c;
                padding: 5px 10px;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 10px;
                border-radius: 4px;
                color: #fff;

                a{
                    color: #fff;
                    text-decoration: underline !important;
                }
            }
        }

        p{
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 13px;
            text-align: center;
            margin: 0 0 5px;
            border: 1px solid;

            &:last-of-type{
                margin: 0 0 20px;
            }

            &.error{
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
            }
            &.success{
                color: #155724;
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
        }
    }

    &__input{
        text-align: center;
        margin-bottom: 9px;

        input{
            height: 60px;
            width: 100%;
            max-width: 440px;
            border: 2px solid $red-color;
            border-radius: 0;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            color: $primary-text-color;
            outline: none !important;
        }
    }
    &__actions{
        max-width: 440px;
        margin: 0 auto;

        .top{
            display: flex;
            justify-content: space-between;
            margin: 10px 0 40px;

            .remember{
                position: relative;
                padding-left: 25px;

                &:before{
                    content: '';
                    width: 15px;
                    height: 15px;
                    border: 3px solid #ddd;
                    border-radius: 100%;
                    background-color: #ddd;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: ease .3s;
                }
                &.checkbox--checked{
                    &:before{
                        border: 3px solid #ddd;
                        background-color: $red-color;
                    }
                }

                input{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
                span{
                    font-size: 16px;
                    line-height: 22px;
                    color: $primary-text-color;
                    margin: 0;
                }
            }

            &>a{
                font-size: 16px;
                line-height: 22px;
                color: $primary-text-color;
                text-decoration: underline !important;
                margin: 0;
                transition: ease .3s;

                &:hover{
                    opacity: .7;
                }
            }
        }
        .bottom{
            text-align: center;
            margin: 0 0 40px;
        }
    }
    &__gotoOtherForm{
        text-align: center;
        margin: 0 0 50px;

        .wave{
            max-width: 700px;
            margin: 0 auto 40px;
            position: relative;
            height: 10px;
            overflow: hidden;

            img{
                width: 800px;
                max-width: none;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        h3{
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            text-transform: uppercase;
            color: $primary-text-color;
            margin: 0 0 20px;
            text-align: center;
        }
        p{
            margin: 0;
        }
    }
}
.gotoRegister{
    display: none;
    opacity: 0;
    transition: ease .3s;

    &--ready{
        display: block;
    }
    &--visible{
        opacity: 1;
    }
}
.checkoutRegister{
    display: none;
    opacity: 0;
    transition: ease .3s;

    &--ready{
        display: block;
    }
    &--visible{
        opacity: 1;
    }

    &>h2{
        font-size: 30px;
        line-height: 41px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 30px;
        text-align: center;
    }
    &__form{
        margin-bottom: 40px;
        padding: 0 20px;

        .notices{
            max-width: 440px;
            margin: 0 auto;

            p{
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 13px;
                text-align: center;
                margin: 0 0 5px;

                &:last-of-type{
                    margin: 0 0 20px;
                }

                &.error{
                    color: #721c24;
                    background-color: #f8d7da;
                    border-color: #f5c6cb;
                }
                &.success{
                    color: #155724;
                    background-color: #d4edda;
                    border-color: #c3e6cb;
                }
            }
        }
    }
    &__input{
        max-width: 440px;
        width: 100%;
        margin: 0 auto 9px;
        text-align: center;

        input{
            height: 60px;
            width: 100%;
            max-width: 440px;
            border: 2px solid $red-color;
            border-radius: 0;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            color: $primary-text-color;
            outline: none !important;
        }
        .error{
            color: #fb6779;
            font-size: 13px;
            margin: 0 0 5px;
        }

    }
    &__checkbox{
        max-width: 440px;
        margin: 0 auto 9px;
        position: relative;
        padding-left: 40px;

        &.top{
            margin-top: 40px;
        }
        &.bottom{
            margin-bottom: 40px;
        }

        &:before{
            content: '';
            width: 15px;
            height: 15px;
            border: 3px solid #ddd;
            border-radius: 100%;
            background-color: #ddd;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            transition: ease .3s;
        }
        &.checkbox--checked{
            &:before{
                border: 3px solid #ddd;
                background-color: $red-color;
            }
        }

        input{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        label{
            font-size: 12px;
            line-height: 16px;
            color: $primary-text-color;
            margin: 0;

            a{
                color: $primary-text-color;
                text-decoration: underline !important;
                transition: ease .3s;

                &:hover{
                    opacity: .7;
                }
            }

            &.error{
                position: absolute;
                top: -25px;
                right: 0;
                width: calc(440px);
                text-align: center;
                padding: 2px;
                border-radius: 4px;
                color: #721c24;
                background-color: #f8d7da;
                border: 1px solid #f5c6cb;
            }
        }
    }
}


/////////////////////////////////////////////////
//////////////// CHECKOUT FORM /////////////////
////////////////////////////////////////////////

.checkoutPage{
    display: none;
    opacity: 0;
    transition: ease .3s;

    &--ready{
        display: block;
    }
    &--visible{
        opacity: 1;
    }

    .checkoutForm{
        .woocommerce-NoticeGroup{
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                background: unset;

                &.woocommerce-error{
                    li{
                        background-color: #e2401c;
                    }
                }

                li{
                    margin-bottom: 5px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    color: #fff;
                }
            }
        }
        &__userdata{
            display: flex;
            justify-content: space-between;
            max-width: 920px;
            margin: 0 auto;
        }
        &__billing{
            width: 50%;

            &>h2{
                font-size: 30px;
                line-height: 41px;
                font-weight: 800;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0 0 20px;
                text-align: center;
            }

            .form{
                .radio{
                    display: flex;
                    justify-content: space-between;
                    max-width: 250px;
                    margin: 0 auto 20px;

                    &__option{
                        position: relative;
                        padding-left: 25px;

                        &:before{
                            content: '';
                            width: 15px;
                            height: 15px;
                            border: 3px solid #ddd;
                            border-radius: 100%;
                            background-color: #ddd;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                            cursor: pointer;
                            transition: ease .3s;
                        }
                        &.radio-selected{
                            &:before{
                                border: 3px solid #ddd;
                                background-color: $red-color;
                            }
                        }

                        input{
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }
                        label{
                            font-size: 14px;
                            line-height: 19px;
                            color: $primary-text-color;
                            text-transform: uppercase;
                            margin: 0;
                        }
                    }
                }
                .checkbox{
                    width: 440px;
                    margin: 15px auto 0;
                    display: flex;
                    position: relative;
                    max-width: 100%;

                    &--checked{
                        &:after{
                            opacity: 1;
                        }
                    }
                    &.checked{
                        &:after{
                            opacity: 1;
                        }
                    }
        
                    &:before{
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: #ddd;
                        border-radius: 100%;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        cursor: pointer;
                        pointer-events: none;
                        z-index: 2;
                    }
                    &:after{
                        content: '';
                        background-image: url('/wp-content/themes/lolobaby/images/icons/newsletter_checkbox_check.svg');
                        background-repeat: no-repeat;
                        background-size: 16px;
                        width: 16px;
                        height: 15px;
                        z-index: 3;
                        position: absolute;
                        left: 2px;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                        filter: grayscale(1);
                        pointer-events: none;
                        transition: ease .3s;
                    }

                    input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                    label{
                        font-size: 14px;
                        color: $primary-text-color;
                        margin: 0;
                        padding-left: 23px;
                    }
                }
                input[type="text"]{
                    display: block;
                    height: 60px;
                    width: 440px;
                    margin: 0 auto 9px;
                    border: 2px solid $red-color;
                    border-radius: 0;
                    text-align: center;
                    font-size: 15px;
                    color: $primary-text-color;
                    transition: ease .3s;
                    outline: none;

                    &.inputSuccess{
                        border-color: #27AE60;
                    }
                    &.inputError{
                        background-color: #FFCAD4;
                    }
                    &.comapnyField{
                        display: none;
                        opacity: 0;

                        &.ready{
                            display: block;
                        }
                        &.visible{
                            opacity: 1;
                        }
                    }
                }
                .accountCreator{
                    display: none;
                    margin: 6px 0 0;

                    &__pass{
                        display: block;
                        max-width: 440px;
                        margin: 0 auto;
                        position: relative;

                        input{
                            width: 100%;
                            display: block;
                            height: 60px;
                            font-size: 15px;
                            padding: 0 15px;
                            text-align: center;
                            border: 2px solid $red-color;
                            border-radius: 0;
                            color: $primary-text-color;
                            outline: none;
                            position: relative;
                            z-index: 1;

                            &.inputSuccess{
                                border-color: #27AE60;
                            }
                            &.inputError{
                                background-color: #FFCAD4;
                            }
                        }
                        .changeVisibility{
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            right: 20px;
                            z-index: 2;
                            cursor: pointer;
                            transition: ease .3s;

                            &:after{
                                content: '';
                                background-image: url('/wp-content/themes/lolobaby/images/icons/passwordView.svg');
                                background-size: 20px;
                                width: 20px;
                                height: 20px;
                                display: block;
                                transition: ease .3s;
                            }

                            &.enable{
                                &:after{
                                    opacity: .5;
                                }
                            }

                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                    &__acceptance{
                        .checkbox{
                            label{
                                font-size: 12px;
                                line-height: 16px;
                                color: $primary-text-color;

                                a{
                                    color: $primary-text-color;
                                    text-decoration: underline !important;
                                    transition: ease .3s;
                                    position: relative;
                                    z-index: 2;

                                    &:hover{
                                        opacity: .7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__shipping{
            width: 50%;

            &>h2{
                font-size: 30px;
                line-height: 41px;
                font-weight: 800;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0 0 64px;
                text-align: center;
            }
            .woocommerce-billing-fields__field-wrapper{
                p{
                    display: block;
                    margin: 0;

                    &.visible-none{
                        display: none;
                    }
                    &.woocommerce-validated{
                        input{
                            border-color: #27AE60;
                        }
                    }
                    &.woocommerce-invalid{
                        input{
                            background-color: $pink-color;
                        }
                    }
                    &#billing_country_field{
                        .woocommerce-input-wrapper{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 60px;
                            width: 440px;
                            margin: 0 auto 9px;
                            border: 0;
                            text-align: center;
                            font-size: 15px;
                            
                            strong{
                                font-weight: normal;
                                color: #4f4f4f;
                                font-size: 15px;
                                text-align: center;
                            }
                        }
                    }

                    input{
                        display: block;
                        height: 60px;
                        width: 440px;
                        margin: 0 auto 9px;
                        border: 2px solid $red-color;
                        border-radius: 0;
                        text-align: center;
                        font-size: 15px;
                        color: $primary-text-color;
                        box-shadow: none !important;
                        outline: none !important;
                        transition: ease .3s;
                    }
                    .woocommerce-input-wrapper{
                        .country_select{
                            max-width: 440px;
                            margin: 0 auto 9px !important;
                        }
                        .select2{
                            display: block;
                            max-width: 440px;
                            margin: 8px auto 0;
                        }
                        .select2-selection{
                            max-width: 440px;
                            margin: 0 auto 9px;
                            height: 60px;
                            border: 2px solid $red-color;
                            border-radius: 0;

                            &__rendered{
                                line-height: 60px;
                                text-align: center;
                                color: $primary-text-color;
                                font-size: 15px;
                                padding: 0;
                            }
                            &__arrow{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .woocommerce-account-fields{
            display: none !important;
        }
    }
    &__delivery{
        transition: ease .3s;

        &.loading{
            opacity: .5;
            pointer-events: none;
        }
        .wave{
            margin: 30px 0;
        }
        .heading{
            text-align: center;

            h3{
                font-size: 30px;
                line-height: 41px;
                font-weight: 800;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0 0 20px;
                text-align: center;
            }
        }
        .checkoutDeliverySelected{
            text-align: center;
            margin-bottom: 30px;

            &--disable{
                display: none;
            }

            .name{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                color: $primary-text-color;
                position: relative;

                &:before{
                    content: '';
                    background-repeat: no-repeat;
                    position: relative;
                    margin-right: 10px;
                    display: inline-block;
                }

                &[methodid="9"]{
                    &:before{
                        background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_inpost_logo.svg');
                        background-size: 70px 50px;
                        width: 70px;
                        height: 50px;
                    }
                }
                &[methodid="8"]{
                    &:before{
                        display: none;
                    }
                }
            }
            .pointname{
                display: none;

                &.visible{
                    display: block;
                }
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                margin: 30px auto 0;
                max-width: fit-content;

                p{
                    margin: 0;
                }

                .selectPoint{
                    display: none;
                    margin-left: 15px;

                    &.visible{
                        display: block;
                    }
                }
            }
        }
        .checkoutDeliverySelect{
            margin: 0 0 50px;
            
            ul{
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0 auto;
                list-style: none;
                max-width: 600px;

                li{
                    width: 190px;
                    border: 2px dashed $pink-color;
                    border-radius: 0;
                    position: relative;
                    padding: 10px;
                    transition: ease .3s;

                    &.radio-selected{
                        border: 2px solid $red-color;
                    }

                    &[methodid="9"]{
                        label{
                            &:before{
                                background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_inpost_logo.svg');
                                background-size: 100px 50px;
                                width: 100px;
                            }
                            &:after{
                                display: block;
                                content: '2-3 dni';
                                margin-top: 5px;
                            }
                        }
                    }
                    &[methodid="8"]{
                        label{
                            &:before{
                                content: 'Kurier';
                                font-size: 24px;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 80px;
                            }
                            &:after{
                                display: block;
                                content: '1-2 dni';
                                margin-top: 5px;
                            }
                        }
                    }

                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        opacity: 0;
                    }
                    label{
                        width: 100%;
                        margin: 0;
                        font-size: 14px;
                        line-height: 18px;
                        color: $primary-text-color;
                        text-transform: uppercase;
                        text-align: center;

                        &:before{
                            content: '';
                            background-repeat: no-repeat;
                            height: 50px;
                            position: relative;
                            display: block;
                            margin: 0 auto;
                            pointer-events: none;
                            margin-bottom: 15px;
                        }

                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 800;

                            bdi{
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                    #select-point-container{
                        display: none !important;
                    }
                }
            }
        }
    }
    &__nextstep{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .previousStep{
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0;
            text-decoration: underline !important;
            color: $blue-color;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
        .nextStep{
            transition: ease .3s;

            &--disabled{
                pointer-events: none;
                filter: grayscale(1)
            }
        }
    }
    &__payment{
        display: none;
    }
}
@media (max-width: 991px){
    .checkoutPage{
        .checkoutForm{
            &__billing{
                width: 49%;

                .form{
                    input[type="text"]{
                        max-width: 440px;
                        width: 100%;
                    }
                }
            }
            &__shipping{
                width: 49%;

                .woocommerce-billing-fields__field-wrapper{
                    p{
                        input{
                            max-width: 440px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        &__delivery{
            .checkoutDeliverySelect{
                ul{
                    flex-wrap: wrap;

                    li{
                        width: calc(50% - 5px);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .checkoutPage{
        .checkoutForm{
            margin-top: 30px;

            &__userdata{
                flex-direction: column;
            }
            &__billing{
                width: 100%;
                margin-bottom: 20px;
            }
            &__shipping{
                width: 100%;

                &>h2{
                    margin: 0 0 20px;
                }
            }
        }
        &__delivery{
            .checkoutDeliverySelected{
                .buttons{
                    flex-direction: column;

                    .changeShipmentMethod{
                        margin: 0 0 10px;
                    }
                    .selectPoint{
                        margin: 0;
                    }
                }
            }
            .checkoutDeliverySelect{
                ul{
                    flex-wrap: wrap;
                    
                    li{
                        width: calc(50% - 5px);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){
    .checkoutPage{
        &__delivery{
            .wave{
                position: relative;
                width: 100%;
                height: 10px;

                img{
                    position: absolute;
                    width: 1000px;
                    max-width: none;
                    top: 0;
                    left: -20px;
                }
            }
            .checkoutDeliverySelect{
                ul{
                    flex-wrap: wrap;
                    
                    li{
                        max-width: 320px;
                    }
                }
            }
        }
        &__nextstep{
            flex-direction: column-reverse;
        }
    }
}

/////////////////////////////////////////////////
//////////////// SUMMARY PAGE //////////////////
////////////////////////////////////////////////

body.woocommerce-order-pay{
    .cartProgress{
        &__arrow,
        &__step{
            &.step-4{
                filter: grayscale(0);

                img{
                   filter: grayscale(0) brightness(1) !important;
                }
                .icon{
                    img{
                        filter: brightness(1) !important;
                    }
                }
                .name{
                    p{
                        font-weight: 800;
                        color: #EC422B;
                    }
                }
            }
        }
    }
}

.summaryPage{
    margin-top: 100px;
    // display: none;
    // opacity: 0;
    transition: ease .3s;

    // &--ready{
    //     display: block;
    // }
    // &--visible{
    //     opacity: 1;
    // }

    .wave{
        &--mobile{
            display: none;
        }
    }
    &__secTitle{
        font-size: 30px;
        line-height: 41px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 20px;
        text-align: center;
    }
    &__cartItems{
        max-width: 900px;
        margin: 0 auto;
    }
    .cartItem{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &__title{
            font-size: 14px;
            line-height: 19px;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 0 20px 0 0;
        }
        &__selected{
            font-size: 14px;
            line-height: 19px;
            font-weight: 800;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 0 20px 0 0;
        }

        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 350px;
        }
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 350px);
        }
        &__thumb{
            width: 95px;
            height: 95px;
            margin-right: 20px;

            a{
                display: block;
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__name{
            width: calc(100% - 115px);

            h3{
                max-width: 180px;
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                color: $primary-text-color;
                text-transform: uppercase;
                margin: 0;
            }
        }
        &__color{
            display: flex;
            align-items: center;

            span{
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;

                &[termname="kremowy"]{
                    border: 1px solid #4f4f4f;
                }
            }
        }
        &__size{
            display: flex;
            align-items: center;
        }
        &__quantity{
            display: flex;
            align-items: center;
        }
        &__price{
            span{
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0;
            }
        }
        &__remove{
            a{
                display: flex;

                img{
                    width: 20px;
                    transition: ease .3s;
                }

                &:hover{
                    img{
                        opacity: .7;
                    }
                }
            }
        }
    }
    .cartSummary{
        p{
            font-size: 16px;
            line-height: 26px;
            color: $primary-text-color;
            text-align: right;
            text-transform: uppercase;
            margin: 0 0 20px;

            &:last-of-type{
                margin: 0;
            }

            span{
                font-size: 20px;
                color: $red-color;
                font-weight: 800;
            }
        }
    }
    &__shipping{
        .wave{
            margin: 30px 0;
        }
        .name{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            color: $primary-text-color;
            position: relative;

            &:before{
                content: '';
                background-repeat: no-repeat;
                position: relative;
                margin-right: 10px;
                display: inline-block;
            }

            &[methodid="1"],
            &[methodid="2"],
            &[methodid="7"],
            &[methodid="6"]{
                &:before{
                    background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_inpost_logo.svg');
                    background-size: 70px 50px;
                    width: 70px;
                    height: 50px;
                }
            }
            &[methodid="5"],
            &[methodid="4"],
            &[methodid="3"]{
                &:before{
                    background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_dpd_logo.svg');
                    background-size: 50px 50px;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .deliveryAddress{
            text-align: center;
            margin: 10px 0 0;
            font-size: 16px;
            color: #4f4f4f;
        }
    }
    &__payment{
        .optionList{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__option{
                display: flex;
                align-items: center;
                height: 47px;
                padding: 0 30px;
                background-color: #fff;
                border: 2px dashed $pink-color;
                margin-right: 30px;
                cursor: pointer;
                transition: ease .3s;

                &--active,
                &:hover{
                    background-color: $red-color;
                    border: 2px solid $red-color;

                    .name{
                        color: #fff !important;
                    }
                }

                &:last-of-type{
                    margin-right: 0;
                }

                .name{
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin: 0;
                    text-align: center;
                    color: $red-color;
                    transition: ease .3s;
                }
            }
        }
        .optionContent{
            .wyroznione{
                display: flex;
                justify-content: center;
                margin: 0 0 10px;
            }
            .moreStuff{
                max-width: 100% !important;

                &:before{
                    content: 'więcej metod płatności';
                    font-family: 'Nunito';
                    padding: 0 15px;
                    top: 12px;
                }
            }
            ul{
                padding: 0;
                margin: 30px 0;
                width: 100%;

                .morePayMethods{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    a{
                        width: 134px;

                        &[data-id="1000"],
                        &[data-id="2000"]{
                            display: none !important;
                        }
                    }
                }
            }
            #payment{
                display: none !important;
            }
        }
    }
    &__secureInfo{
        max-width: 800px;
        margin: 50px auto;

        p{
            font-size: 16px;
            line-height: 22px;
            color: $primary-text-color;
            margin: 0;
            text-align: center;

            a{
                color: $primary-text-color;
                text-decoration: underline !important;
                transition: ease .3s;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }
    &__nextstep{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .previousStep{
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0;
            text-decoration: underline !important;
            color: $blue-color;
            cursor: pointer;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
}
@media (max-width: 991px){
    .summaryPage{
        margin-top: 50px;

        .cartItem{
            &__top{
                width: 210px;
            }
            &__bottom{
                width: calc(100% - 210px);
            }
            &__thumb{
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }
            &__name{
                width: calc(100% - 80px);

                h3{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .summaryPage{
        .cartItem{
            flex-direction: column;

            &__top{
                width: 100%;
            }
            &__bottom{
                width: 100%;
                flex-wrap: wrap;
            }
            &__title{
                font-size: 12px;
                line-height: 16px;
            }
            &__color{
                span{
                    width: 10px;
                    height: 10px;
                }
            }
            &__price{
                span{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .cartSummary{
            p{
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                margin: 0 0 5px;
    
                &:last-of-type{
                    margin: 0;
                }
    
                span{
                    font-size: 14px;
                }
            }
        }
        &__payment{
            .optionList{
                max-width: 360px;
                margin: 0 auto;

                &__option{
                    width: 100%;
                    margin: 0 0 10px;

                    .name{
                        width: 100%;
                    }
                }
            }
            .optionContent{
                .wyroznione{
                    flex-wrap: wrap;
                    max-width: 290px;
                    margin: 0 auto 10px;

                    .bank-item{
                        &:first-of-type{
                            width: 275px;

                            .bank-logo{
                                margin: 0 auto;
                            }
                        }
                    }
                }
                .morePayMethods{
                    max-width: 414px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .summaryPage{
        &__cartItems{
            .summaryPage__secTitle{
                display: none;
            }
        }
        .wave{
            position: relative;
            height: 10px;
            width: 100%;

            &--mobile{
                display: block !important;
                margin-bottom: 25px;
            }

            img{
                position: absolute;
                top: 0;
                left: -20px;
                width: 1000px;
                max-width: none;
            }
        }
        &__shipping{
            .summaryPage__secTitle{
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
            }
            .wave{
                margin: 20px 0;
            }
        }
        &__nextstep{
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: 460px){
    .summaryPage{
        &__payment{
            .optionContent{
                .morePayMethods{
                    max-width: 276px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 420px){
    .summaryPage{
        &__nextstep{
            .nextStep{
                width: 100%;
                height: auto;
                padding: 5px 10px;

                span{
                    line-height: 21px;
                    white-space: normal;
                    padding: 0;
                    text-align: center;

                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}