body.woocommerce-order-pay{
    .cartProgress{
        &__arrow,
        &__step{
            &.step-4{
                filter: grayscale(0);

                img{
                   filter: grayscale(0) brightness(1) !important;
                }
                .icon{
                    img{
                        filter: brightness(1) !important;
                    }
                }
                .name{
                    p{
                        font-weight: 800;
                        color: #EC422B;
                    }
                }
            }
        }
    }
}

.summaryPage{
    margin-top: 100px;
    display: none;
    opacity: 0;
    transition: ease .3s;

    &--ready{
        display: block;
    }
    &--visible{
        opacity: 1;
    }

    .wave{
        &--mobile{
            display: none;
        }
    }
    &__secTitle{
        font-size: 30px;
        line-height: 41px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 20px;
        text-align: center;
    }
    &__cartItems{
        max-width: 900px;
        margin: 0 auto;
    }
    .cartItem{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &__title{
            font-size: 14px;
            line-height: 19px;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 0 20px 0 0;
        }
        &__selected{
            font-size: 14px;
            line-height: 19px;
            font-weight: 800;
            color: $primary-text-color;
            text-transform: uppercase;
            margin: 0 20px 0 0;
        }

        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 350px;
        }
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 350px);
        }
        &__thumb{
            width: 95px;
            height: 95px;
            margin-right: 20px;

            a{
                display: block;
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__name{
            width: calc(100% - 115px);

            h3{
                max-width: 180px;
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                color: $primary-text-color;
                text-transform: uppercase;
                margin: 0;
            }
        }
        &__color{
            display: flex;
            align-items: center;

            span{
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;

                &[termname="kremowy"]{
                    border: 1px solid #4f4f4f;
                }
            }
        }
        &__size{
            display: flex;
            align-items: center;
        }
        &__quantity{
            display: flex;
            align-items: center;
        }
        &__price{
            span{
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $primary-text-color;
                margin: 0;
            }
        }
        &__remove{
            a{
                display: flex;

                img{
                    width: 20px;
                    transition: ease .3s;
                }

                &:hover{
                    img{
                        opacity: .7;
                    }
                }
            }
        }
    }
    .cartSummary{
        p{
            font-size: 16px;
            line-height: 26px;
            color: $primary-text-color;
            text-align: right;
            text-transform: uppercase;
            margin: 0 0 20px;

            &:last-of-type{
                margin: 0;
            }

            span{
                font-size: 20px;
                color: $red-color;
                font-weight: 800;
            }
        }
    }
    &__shipping{
        .wave{
            margin: 30px 0;
        }
        .name{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            color: $primary-text-color;
            position: relative;

            &:before{
                content: '';
                background-repeat: no-repeat;
                position: relative;
                margin-right: 10px;
                display: inline-block;
            }

            &[methodid="1"],
            &[methodid="2"],
            &[methodid="7"],
            &[methodid="6"]{
                &:before{
                    background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_inpost_logo.svg');
                    background-size: 70px 50px;
                    width: 70px;
                    height: 50px;
                }
            }
            &[methodid="5"],
            &[methodid="4"],
            &[methodid="3"]{
                &:before{
                    background-image: url('/wp-content/themes/lolobaby/images/icons/delivery_dpd_logo.svg');
                    background-size: 50px 50px;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .deliveryAddress{
            text-align: center;
            margin: 10px 0 0;
            font-size: 16px;
            color: #4f4f4f;
        }
    }
    &__payment{
        .place-order{
            display: none !important;
        }
        .optionList{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            ul{
                margin: 0;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            &__option{
                display: flex;
                align-items: center;
                height: 47px;
                padding: 0 30px;
                background-color: #fff;
                border: 2px dashed $pink-color;
                margin-right: 30px;
                cursor: pointer;
                transition: ease .3s;
                position: relative;

                &--active,
                &:hover{
                    background-color: $red-color;
                    border: 2px solid $red-color;

                    .name{
                        color: #fff !important;
                    }
                }

                &:last-of-type{
                    margin-right: 0;
                }

                input{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    cursor: pointer;
                    opacity: 0;
                }

                .name{
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin: 0;
                    text-align: center;
                    color: $red-color;
                    transition: ease .3s;
                }
            }
        }
        .optionContent{
            .payment_box{
                max-width: 600px;
                margin: 30px auto 0;
                background: #fff;
                border: 2px dashed #ffcad4;
                padding: 20px;

                p{
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0 0 15px;
                    text-align: center;

                    &:last-of-type{
                        margin: 0;
                    }
                }
                .wc-credit-card-form{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 340px;
                    margin: 17px auto 0;

                    .form-row{
                        &:nth-child(1){
                            width: 170px;

                            .StripeElement{
                                border-right: 0;
                            }
                        }
                        &:nth-child(2){
                            width: 80px;

                            .StripeElement{
                                border-left: 0;
                                border-right: 0;
                            }
                        }
                        &:nth-child(3){
                            width: 75px;

                            .StripeElement{
                                border-left: 0;
                            }
                        }

                        label{
                            display: none;
                        }
                        &>div{
                            width: 100%;

                            .StripeElement{
                                margin: 0;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
            .wyroznione{
                display: flex;
                justify-content: center;
                margin: 0 0 10px;
            }
            .moreStuff{
                max-width: 100% !important;

                &:before{
                    content: 'więcej metod płatności';
                    font-family: 'Nunito';
                    padding: 0 15px;
                    top: 12px;
                }
            }
            ul{
                padding: 0;
                margin: 30px 0;
                width: 100%;

                .morePayMethods{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    a{
                        width: 134px;

                        &[data-id="1000"],
                        &[data-id="2000"]{
                            display: none !important;
                        }
                    }
                }
            }
            #payment{
                display: none !important;
            }
        }
    }
    &__secureInfo{
        max-width: 800px;
        margin: 50px auto;

        p{
            font-size: 16px;
            line-height: 22px;
            color: $primary-text-color;
            margin: 0;
            text-align: center;

            a{
                color: $primary-text-color;
                text-decoration: underline !important;
                transition: ease .3s;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }
    &__nextstep{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .previousStep{
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0;
            text-decoration: underline !important;
            color: $blue-color;
            cursor: pointer;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
}
@media (max-width: 991px){
    .summaryPage{
        margin-top: 50px;

        .cartItem{
            &__top{
                width: 210px;
            }
            &__bottom{
                width: calc(100% - 210px);
            }
            &__thumb{
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }
            &__name{
                width: calc(100% - 80px);

                h3{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .summaryPage{
        .cartItem{
            flex-direction: column;

            &__top{
                width: 100%;
            }
            &__bottom{
                width: 100%;
                flex-wrap: wrap;
            }
            &__title{
                font-size: 12px;
                line-height: 16px;
            }
            &__color{
                span{
                    width: 10px;
                    height: 10px;
                }
            }
            &__price{
                span{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .cartSummary{
            p{
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                margin: 0 0 5px;
    
                &:last-of-type{
                    margin: 0;
                }
    
                span{
                    font-size: 14px;
                }
            }
        }
        &__payment{
            .optionList{
                max-width: 360px;
                margin: 0 auto;

                &__option{
                    width: 100%;
                    margin: 0 0 10px;

                    .name{
                        width: 100%;
                    }
                }
            }
            .optionContent{
                .wyroznione{
                    flex-wrap: wrap;
                    max-width: 290px;
                    margin: 0 auto 10px;

                    .bank-item{
                        &:first-of-type{
                            width: 275px;

                            .bank-logo{
                                margin: 0 auto;
                            }
                        }
                    }
                }
                .morePayMethods{
                    max-width: 414px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .summaryPage{
        &__cartItems{
            .summaryPage__secTitle{
                display: none;
            }
        }
        .wave{
            position: relative;
            height: 10px;
            width: 100%;

            &--mobile{
                display: block !important;
                margin-bottom: 25px;
            }

            img{
                position: absolute;
                top: 0;
                left: -20px;
                width: 1000px;
                max-width: none;
            }
        }
        &__shipping{
            .summaryPage__secTitle{
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
            }
            .wave{
                margin: 20px 0;
            }
        }
        &__nextstep{
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: 460px){
    .summaryPage{
        &__payment{
            .optionContent{
                .morePayMethods{
                    max-width: 276px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 420px){
    .summaryPage{
        &__nextstep{
            .nextStep{
                width: 100%;
                height: auto;
                padding: 5px 10px;

                span{
                    line-height: 21px;
                    white-space: normal;
                    padding: 0;
                    text-align: center;

                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}